* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

nav {
  padding: 7px 0px 8.5px 17px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, serif;
  letter-spacing: 4px;
  box-shadow: 0px 1px 8.5px 0px #afafaf;
  z-index: 1;
}

.name {
  float: left;
  margin-left: -1px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.right_nav {
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 33px;
}

.links {
  text-decoration: none;
  color: black;
}

.nav_link {
  padding: 11px 16px;
  transition: background-color 0.15s;
}

.nav_link:hover {
  background-color: #b9b9b986;
}

.burger {
  display: block;
  margin: auto;
}

.txt_on_img {
  font-family: "Times New Roman", Times, serif;
  margin: -70px 0 100px 175.5px;
  font-size: 36px;
  color: #56575b;
  letter-spacing: 5px;
  font-weight: 400;
}

.sec_img {
  width: 501px;
  height: 627px;
  opacity: 0.75;
  margin: 4px 0px 100px 426px;
  border-radius: 4px;
}

.sec_page_paras {
  margin: -735px 10px 230px 970px;
}

.sec_page_para_one,
.sec_page_sec_para {
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  width: 500px;
  line-height: 27px;
  margin-left: 5.5px;
}

.about_catering {
  font-family: "Times New Roman";
  font-size: 36px;
  letter-spacing: 5px;
  font-weight: 400;
}

.since {
  font-family: "Playfair";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: -10px;
}

.seasonal {
  background-color: #eeeeee;
  padding: 2px 8px;
}

.sec_page_sec_para {
  margin-top: 18px;
  color: #818181;
}

.about_catering,
.since {
  line-height: 83px;
  text-align: center;
  margin-right: 410px;
}

hr {
  border: 0.1px solid #f5f5f5;
  margin: 0px 400px;
}

.our_menu,
.contact {
  font-size: 36px;
  margin: 0px 0px 30px 155px;
  letter-spacing: 5px;
}

.menu_name {
  margin: 100px 0px 0px 420px;
}

.food_name {
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 65px;
}

.desc {
  color: #818181;
  font-size: 15px;
  margin-bottom: 35px;
}

.menu_img {
  width: 503px;
  height: 755px;
  border-radius: 4px;
  margin: -670px 0px 100px 980px;
  opacity: 0.75;
}

.footer,
.copyright {
  font-family: "Times New Roman", Times, serif;
  margin: 100px 0px 100px 400px;
}

.contact {
  margin-left: 0;
  margin-bottom: 60px;
}

.foot_para_one {
  font-size: 15px;
  line-height: 1.5;
  width: 1050px;
}

.copyright {
  background-color: #f1f1f1;
  padding: 50px 0px;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
}

.w3_link {
  color: #000;
  transition: color 0.2s;
}

.w3_link:hover {
  color: #008000;
}

.para_one {
  margin-bottom: 25px;
}

strong {
  font-size: 18px;
  color: #607d8b;
}

.details {
  margin: 25px 0 15px;
}

.footer_details {
  border: none;
}

input {
  border: none;
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid #e0dede;
  display: block;
  /* line-height: 4; */
  font-size: 15px;
  padding: 16px 10px;
  width: 70%;
  margin-bottom: 15px;
}

button {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  background-color: #f1f1f1;
  margin-top: 18px;
}

button:hover {
  background-color: #cccccc;
}
